main .row {
	margin-bottom: 20px;
}
	header {
		background-color:orange;
		padding-top: 10px;
	}
img {
	height: 100%;
	width: 100%;
}
.container {
	border: 1px solid lightgrey;
}
.textbox {
	padding: 10px 20px 20px;
}
