main .row {
	margin-bottom: 20px;
}
.box {
	height: 200px;
	padding-top: 30px;
}
	header {
		background-color:orange;
	}
img {
	height: 100%;
	width: 100%;
}
.container {
	border: 1px solid grey;
	border-top: 0;
}
